.container-location {
  align-items: center;
  background-color: var(--color-2);
  display: flex;
  justify-content: center;
  height: 45rem !important;
  margin-bottom: 3vh;
  padding: 12vh 0;
  width: 100%;
}

.data-location {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  margin: 20vh 5vh;
  width: 35%;
}

/* ESTILO UNICO DE ESTA SECTION */
.data-location > p {
  margin: 0.5rem 0;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 3px;
  width: 80%;
}

.line-heigh {
  line-height: 40px;
}
/* ===================================== */

.link-map {
  background-color: var(--color-5);
  border-radius: 40px;
  box-shadow: 0px 8px 10px -6px rgba(32, 32, 32, 0.75);
  border-style: none;
  cursor: pointer;
  color: var(--color-2);
  padding: 0.8rem 4rem;
  font-size: 1em;
  font-family: var(--font-bottons);
  font-weight: var(--weight-bottons)!important;
  letter-spacing: 6px;
  margin-top: auto;
  text-align: center;
  user-select: none;
  transition: all 0.3s ease;
  text-decoration: none;
  width: auto;
}

.estancia{
  margin-top: 11vh !important;
}

.link-map:hover {
  background-color: var(--color-6);
  transition: all 0.3s ease;
}

/* ESTILO PROPIO DEL BOTÓN DE LINK A CALENDAR */
.calendar {
  color: var(--color-1);
  background-color: unset;
  border: 3px solid var(--color-5);
}

/* ======================== */
@media screen and (max-width: 980px) {
  .location-main-container {
    overflow: hidden;
    justify-content: flex-start;
  }

  .container-location {
    flex-direction: column;
    height: auto !important;
    margin-bottom: -5vh;
    padding: 0 0 5vh !important;
  }

  .data-location {
    margin: 0;
    margin-bottom: 5vh;
    height: auto;
    width: 80%;
  }

  .data-location > p {
    margin: 0.8rem 0;
    font-size: 0.9em;
    text-align: center;
    letter-spacing: 3px;
    width: 95%;
  }

  .line-heigh {
    line-height: 20px;
  }

  .link-map {
    line-height: 20px;
    margin-top: 5vh;
    font-size: 1em;
    width: 100% !important;
  }

  .estancia{
    margin-top: 4vh !important;
  }
  /* ANIMACION PARA QUE BAILEN LOS "NOVIOS" LA ANIMACIÓN ESTÁ EN EL INDEX PORQUE ES LA MISMA QUE RESERVE */
  /* .couple-dance {
    animation: dance 9s ease 0s infinite normal both;
  } */
}
