.container-lista-wedding {
  align-items: center;
  background-color: var(--color-2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10vh;
  position: relative;
  overflow: hidden;
}
/* =============== */
.margin-distinto{
  margin-top: 20px !important;
}
/* =============== */
.container-music {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.link-playlist {
  align-items: center;
  border: 3px solid var(--color-8);
  border-radius: 20px;
  box-shadow: 0px 8px 10px -6px rgba(32, 32, 32, 0.75);
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  font-weight: 600;
  font-family: var(--font-bottons);
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.2s ease;
  user-select: none;
  width: 25%;
}

.link-playlist:hover {
  letter-spacing: 6px;
  transition: all 0.2s ease;
}

.container-img-spotify {
  margin-left: 10px;
  height: 1.7rem;
}

.image-spotify {
  height: 100%;
  object-fit: cover;
}

.back-top {
  cursor: pointer;
  position: absolute;
  bottom: -10vh;
  height: 70px;
  width: 70px;
}

.svg-back-top {
  object-fit: cover;
  width: 100%;
}

/* ESTILO UNICO DE LINK */
.margin-link {
  margin-top: 5vh;
}

@media screen and (max-width: 980px) {
  .container-lista-wedding {
    flex-direction: column;
    margin-bottom: 0;
    overflow: hidden;
  }

  .link-playlist {
    box-shadow: unset;
    margin-top: 2vh;
    margin-bottom: 0vh;
    width: 100%;
  }

  .link-playlist:hover {
    letter-spacing: 0px;
  }

  .back-top {
    cursor: pointer;
    position: absolute;
    bottom: 0vh;
    height: 70px;
    width: 70px;
    z-index: 1000;
  }

  .margin-link {
    margin-top: 5vh;
    margin-bottom: 20vh;
  }
}