.home-container {
  align-items: center;
  background: url(../../../public/images/photos-negro-agus/4.jpg) fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 43%;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.mask {
  background-color: var(--color-4);
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 0;
  width: 100%;
}

.title-home {
  color: var(--color-2);
  display: inline-block;
  font-size: 6em;
  font-family: var(--font-title-main);
  font-weight: 500;
  margin: 0;
  margin-top: 2vh;
  margin-bottom: -3vh;
  text-align: center;
  width: auto;
}

.letter-home-title {
  font-size: 0.75em;
}

.sub-title-home {
  color: var(--color-2);
  font-size: 2.2em;
  font-family: var(--font-subtitle-main);
  letter-spacing: 5px;
  font-weight: 500;
  margin: 0;
  padding-top: 1rem;
  text-align: center;
}

.link-confirmation {
  background-color: var(--color-5);
  border-radius: 40px;
  box-shadow: 0px 8px 10px -6px rgba(32, 32, 32, 0.75);
  cursor: pointer;
  color: var(--color-2);
  padding: 0.8rem 4rem;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 4px;
  margin-top: 0.5rem;
  text-align: center;
  /* text-shadow: 5px 5px #5555553a; */
  user-select: none;
  transition: all 0.3s ease;
  width: auto;
}

.link-confirmation:hover {
  background-color: var(--color-6);
  transition: all 0.3s ease;
}

/* =============================== */
@media screen and (max-width: 980px) {
  .home-container {
    height: 100vh;
    background: url(../../../public/images/photos-negro-agus/4.jpg);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 50%;
    background-size: 180%;
    padding-top: 0rem;
    overflow: hidden;
  }

  .mask {
    position: relative;
    padding-bottom: 10vh;
    overflow: hidden;
  }

  .title-home {
    font-size: 3.5em;
    font-weight: 300;
    margin: 0;
    margin-bottom: 0rem;
    /* padding-top: 1.5rem;; */
    position: absolute;
    top: 7%;
    /* top: 33%; */
    width: 100%;
  }

  .sub-title-home {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 1rem 0;
    position: absolute;
    top: 18%;
    /* top: 45%; */
    width: 100%;
  }

  .link-confirmation {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: auto;
    padding: 0.9rem;
    position: absolute;
    /* top: 87%; */
    top: 91%;
    width: 92%;
    background-color: #e8c7b0e1;
  }
}

/* ESTO ES PARA TITLE EN MOBILE MUY CHICO */

@media screen and (max-width: 375px) {
  .title-home {
    font-size: 3em;
  }
}

@media screen and (max-width: 361px) {
  .title-home {
    font-size: 3em;
  }
}

@media screen and (max-width: 280px) {
  .title-home {
    top: 8.5%;
    font-size: 2.5em;
  }

  .sub-title-home {
    font-size: 1.2em;
    top: 14%;
  }
}
